* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f2f7ff;
    color: #333;
}


.intro {
    background-color: #6c63ff;
    color: white;
    text-align: center;
    padding: 70px 20px;
    animation: slideDown 1s ease;
}

.intro span {
    color: #ffdd57;
}


section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6c63ff;
}


.about p {
    text-align: center;
    font-size: 15px;
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #6c63ff;
    transition: transform 0.3s;
}

.box:hover {
    transform: scale(1.05);
}


.contact {
    background-color: #e8ecff;
    border-radius: 10px;
}

.contact p {
    text-align: center;
    margin: 6px 0;
}


footer {
    background-color: #6c63ff;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

